In [1]:
import os
import numpy as np
import pandas as pd
import re

In [13]:
file = '../pwscf.in'
f = open(file,"r")
file_lines = f.readlines()

In [11]:
def file_len(fname):
    """count total number of lines in file"""
    with open(fname) as f:
        for i, l in enumerate(f):
            pass
    return i + 1

def remove_empty_lines(fname):
    """removes empty lines and \n in a file"""
    if not os.path.isfile(fname):
        print("{} does not exist ".format(fname))
        return
    with open(fname) as filehandle:
        lines = filehandle.readlines()
    with open(fname, 'w') as filehandle:
        lines = filter(lambda x: x.strip() and x.strip('\n'), lines)
        filehandle.writelines(lines)

flatten = lambda l: [item for sublist in l for item in sublist]

def GetHeader(infile):
    param = []
    with open(infile) as fp:
        for groups in re.findall('&(.*?)/', fp.read(), re.S):
            param.append(groups.splitlines()[1:])
        return flatten(param)

def GetCell(infile):
    with open(infile) as fp:
        result = re.search(r'.*CELL_PARAMETERS\s*(.*)$', fp.read(), re.DOTALL)
    return result.group(1).splitlines()[1:]

def GetAtomPos(infile):
    with open(infile) as fp:
        result = re.findall(r'ATOMIC_POSITIONS(.*?)K_POINTS', fp.read(), re.S)
        return result
    
def slicefile(keyword):
    """find lines after keyword between & and /"""
    lines = re.findall('&%s(?:.?)+\n((?:.+\n)+?)(?:\s+)?[\/&]'%keyword,"".join(file_lines),re.MULTILINE)
    return lines

def store(group,name):
    """
    Save the variables specified in each of the groups on the structure
    """
    for file_slice in slicefile(name):
        for keyword, value in re.findall('([a-zA-Z_0-9_\(\)]+)(?:\s+)?=(?:\s+)?([a-zA-Z\'"0-9_.-]+)',file_slice):
            group[keyword.strip()]=value.strip()

In [359]:
remove_empty_lines(file)

In [102]:
file_len(file)

188

In [7]:
param = GetHeader(file);param

["    calculation = 'scf'",
 "    prefix = 'gc'",
 "    pseudo_dir = '",
 '    ibrav = 0',
 '    nat = 148',
 '    ntyp = 3',
 '    ecutwfc = 80',
 "    occupations = 'smearing'",
 "    smearing = 'gaussian'",
 '    degauss = 0.1',
 "    vdw_corr='grimme-d2'",
 '    tot_charge=1',
 "    diagonalization = 'david'",
 '    diago_thr_init = 1.d-4',
 "    mixing_mode = 'local-TF'",
 '    mixing_beta = 0.7',
 '    conv_thr =  1.d-8']

In [343]:
df_head = pd.DataFrame(param)
df_head_split = df_head.iloc[:,0].str.split("=", expand = True)
df_head_indexed = df_head_split.set_index([0])
df_head_indexed

                                1
0
    calculation             'scf'
    prefix                   'gc'
    pseudo_dir                  '
    ibrav                       0
    nat                       148
    ntyp                        3
    ecutwfc                    80
    occupations        'smearing'
    smearing           'gaussian'
    degauss                   0.1
    vdw_corr          'grimme-d2'
    tot_charge                  1
    diagonalization       'david'
    diago_thr_init          1.d-4
    mixing_mode        'local-TF'
    mixing_beta               0.7
    conv_thr                1.d-8

In [327]:
cell = GetCell(file); cell

['7.378073983 0.000000000 0.0000000000',
 '0.000000000 17.038932 0.0000000000',
 '0.000000000 0.000000000 25.00']

In [443]:
df_cell = pd.DataFrame(cell)
df_cell = df_cell[0].str.split(" ", expand = True)
df_cell.rename(index = {0:'a',1:'b',2:'c'},columns={0:'va',1:'vb',2:'vc'})

            va           vb            vc
a  7.378073983  0.000000000  0.0000000000
b  0.000000000    17.038932  0.0000000000
c  0.000000000  0.000000000         25.00

In [452]:
atoms = GetAtomPos(file)

In [449]:
df_atoms = pd.DataFrame(atoms)
df2 = df_atoms[0].str.split("\n", expand = True).T.drop(0)
df2_atoms = df2[0].replace('\s+', ' ', regex=True).str.split(" ",expand = True).dropna()
df2_atoms

      0            1             2             3
1    Cu  0.000000000   0.000418475   7.356821029
2    Cu  1.844464273   1.704158296   7.358113474
3    Cu  3.689036991   0.000230648   7.357039041
4    Cu  5.533609710   1.704158296   7.358113474
5    Cu  0.000000000   3.407517063   7.358466518
6    Cu  1.844400743   5.111308876   7.357351579
7    Cu  3.689036991   3.407727228   7.358240984
8    Cu  5.533673240   5.111308876   7.357351579
9    Cu  0.000000000   6.815511010   7.356398114
10   Cu  1.844634168   8.519772057   7.356953132
11   Cu  3.689036991   6.815461467   7.356476022
12   Cu  5.533439815   8.519772057   7.356953132
13   Cu  0.000000000  10.223468654   7.358028091
14   Cu  1.844539688  11.927112673   7.358331490
15   Cu  3.689036991  10.223807389   7.358156514
16   Cu  5.533534295  11.927112673   7.358331490
17   Cu  0.000000000  13.630948247   7.357392531
18   Cu  1.844550038  15.334971289   7.356489427
19   Cu  3.689036991  13.630621770   7.357247606
20   Cu  5.533523945  15.334971289   7.356489427
21   Cu  0.000000000   1.702907129   9.191341473
22   Cu  1.844438909  -0.000744907   9.189954839
23   Cu  3.689036991   1.703551598   9.190679517
24   Cu  5.533635074  -0.000744907   9.189954839
25   Cu  0.000000000   5.112847222   9.190428845
26   Cu  1.844425335   3.408148815   9.191205379
27   Cu  3.689036991   5.112276176   9.190183685
28   Cu  5.533648648   3.408148815   9.191205379
29   Cu  0.000000000   8.518829327   9.189889741
30   Cu  1.844504161   6.815753367   9.189500749
..   ..          ...           ...           ...
119   C  3.689036991   4.259867347  17.595573641
120   C  3.689036991   7.100201309  17.604692956
121   C  4.919630094   4.969859069  17.602643948
122   C  4.919676979   6.389808595  17.608620661
123   C  6.149802796   4.259528860  17.620937268
124   C  6.147833464   7.099286667  17.611657488
125   C  0.000000000   9.229134521  17.598686238
126   C  0.000000000  10.648995568  17.589971090
127   C  1.230190473   8.519246232  17.603860742
128   C  1.231355762  11.359359108  17.602000991
129   C  2.460657871   9.229717785  17.618068300
130   C  2.460488616  10.649481002  17.623712035
131   C  3.689036991   8.520001451  17.622907345
132   C  3.689036991  11.359355542  17.634650696
133   C  4.917416111   9.229717785  17.618068300
134   C  4.917585366  10.649481002  17.623712035
135   C  6.147883510   8.519246232  17.603860742
136   C  6.146718221  11.359359108  17.602000991
137   C  0.000000000  13.489708798  17.590817762
138   C  0.000000000  14.909574070  17.606592100
139   C  1.231370325  12.779202422  17.603127410
140   C  1.229324681  15.619367815  17.608024663
141   C  2.459963907  13.488866414  17.620434265
142   C  2.460109581  14.908699225  17.611138635
143   C  3.689036991  12.778795233  17.630201440
144   C  3.689036991  15.618463298  17.611608756
145   C  4.918110075  13.488866414  17.620434265
146   C  4.917964401  14.908699225  17.611138635
147   C  6.146703658  12.779202422  17.603127410
148   C  6.148749302  15.619367815  17.608024663

[148 rows x 4 columns]

In [14]:
store(file,"control")

TypeError: 'str' object does not support item assignment

In [456]:
!ls {PATH2}

../pwscf.out